<div class="container-fluid main-container">
  <div class="row h-75">

    <div class="col-12 col-md-9 bg-danger main-article-container" style="background-image: url(<%= url_for(@main_article.image) %>) ;">
      <h1 class="display-5 font-weight-bold mt-5"><%= link_to @main_article.title, article_path(@main_article), class: 'main-article-title' %></h1>
      <p class="display-5 font-weight-bold text-white"><%= @main_article.body %></p>
    </div>
    <div class="col-md-3" style="background-image: url('building.jpg'); background-size: cover;">
      hello
    </div>

  </div>
  
  <div class="row h-25">
    <%= last_articles_per_category %>
  </div>
</div>
