<div class="container-fluid main-container bg-primary">
  <div class="row bg-primary h-75">
    <div class="col-12 col-lg-9 bg-danger" style="background-image: url(<%= url_for(@main_article.image) %>) ;">
      <h1 class="display-3 font-weight-bold mt-5"><%= link_to @main_article.title, article_path(@main_article), class: 'text-white' %></h1>
    </div>
    <div class="d-none col-lg-3 bg-warning">
      
    </div>
  </div>
  
  <div class="row h-25">
    <%= last_articles_per_category %>
  </div>
</div>
