<div class="container-fluid main-container bg-primary">
  <div class="row bg-primary h-75">
    <div class="col-9 bg-danger">
      
    </div>
    <div class="col-3 bg-warning">
      
    </div>
  </div>
  
  <div class="row h-25">
    <%= last_articles_per_category %>
  </div>
</div>

<p>Hello from article#show file</p>

<% if signed_in? %>
<%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>

<% end %>