<div class="container-fluid main-container bg-primary">
  <div class="row bg-primary h-75">
    <div class="col-12 col-lg-9 bg-danger">
      
    </div>
    <div class="d-none col-lg-3 bg-warning">
      
    </div>
  </div>
  
  <div class="row h-25">
    <%= last_articles_per_category %>
  </div>
</div>
