@import "bootstrap/scss/bootstrap";

//= require_tree
//= require_self

.body-bg {
  background-color: #4E443F;
}

.main-article-title {
  color: #FB6000;
}

.main-article-title:hover {
  color: #fff;
  text-decoration: none;
}

.secondary-articles-titles {
  text-shadow: 0 0 3px #000;
}

.orangify {
  font-size: 1.1em;
  text-decoration: none;
  color: rgb(71, 71, 71);
  margin: 0 4px;
}

.orangify:hover {
  color: orangered;
  text-decoration: none;
}

.login-register {
  font-size: 0.9em;
  margin-right: 3em;
}

.main-container {
  height: 87vh;
}

.h5-underline {
  border-bottom: 3px solid #ff8040;
}

.article-title-h5 {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.main-article-container {
  padding-top: 20%;
}

.main-right-container {
  background-color: black;
  background-image: url('building.jpg');
}

footer {
  height: 75px;
}

.footer-link {
  color: #FB6000;
}

.categories-resume-block {
  height: 35vh;
}