<div class="container-fluid bg-white py-4">
  
  <div class="row d-flex flex-wrap">
  
    <% show_category_articles %>

  </div>
  <div class="text-center mt-4"><%= link_to '<< Last articles per category >>', categories_path %></div>
  <div class="text-center mt-1"><%= link_to '< Back to previous page', :back %></div>
</div>
